node_modules/
dist/
cache/
out/
broadcast/
/lib/
.env
.env.*
!.env.example
!.env.production.example
!**/.env.example
!**/.env.production.example
packages/core-backend/src/config/addresses.json
*.log
coverage/
lcov.info
typechain-types/
packages/contracts/out/
packages/contracts/cache/
.idea/
.vscode/
.DS_Store
Thumbs.db
.next/
logs/
